body.developerHeader
{
	background: #fff;
	line-height: 21px;
}

body.developerHeader div#header
{
	padding-top: 0;
	margin-top: 0;
	overflow: visible;
	line-height: 21px;
	height: 262px;
}

body.developerHeaderThin div#header
{
	height: 202px;
}

.developerHeader #globalNav
{
	width: 596px;
	background: transparent none;
	z-index: 100;
}

.developerHeader #globalNav ul.globalNavLeftBackground
{
	width: 396px;
	background-image: url("/images/skype/v3/backgrounds/navigation/header_sprite_24bit.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px -39px;
}

.developerHeader #header div.middleContent div#globalNav div.searchfield
{
	background-position: -574px -88px;
	padding-left: 35px;
}

.developerHeader #skypeLogo
{
	width: 260px;
	margin-top: 10px;
}

*:first-child + HTML .developerHeader #skypeLogo
{
	top: 0;
	margin-top: 0;
}

.developerHeader #skypeLogo a
{
	background: transparent url("/images/skype/v3/logos/logoSkypeDeveloper.png") no-repeat scroll;
	width: 254px;
}

.developerHeaderWrapper
{
	background: #00aff0;
	margin-bottom: 40px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 9;
	color: #fff;
	margin-top: -282px;
	height: 262px;
}

.developerHeaderWrapper .frontPageHeaderBackground
{
	background-image: url("/images/skype/v3/backgrounds/frontPageHeaderBack.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: relative;
	bottom: -33px;
	height: 262px;
}

.developerHeaderWrapperThin
{
	margin-top: -222px;
	height: 202px;
	background-image: url("/images/skype/v3/backgrounds/thinHeaderBack.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 0;
}

.developerHeaderWrapperContent
{
	width: 960px;
	margin: 0 auto;
	padding-top: 140px;
}

.developerHeaderWrapper .frontPageHeaderBackground .developerHeaderWrapperContent
{
	position: relative;
	bottom: 33px;
}

.developerHeaderWrapperContent .text h2
{
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.035em;
	line-height: 34px;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.developerHeaderWrapper .motto
{
	text-align: right;
}

body.developerHeader #header #secure
{
	overflow: visible;
}

.actionBar #secure .singleColumn
{
	float: left;
	position: relative;
	cursor: pointer;
}

.actionBar #secure .singleColumn a
{
	float: none;
	display: block;
}

.actionBar #secure .singleColumn .pointer
{
	background: transparent url("/images/skype/v3/backgrounds/navigation/header_sprite_24bit.png") no-repeat scroll center 5px;
	font-family: monospace;
	font-size: 1px;
	line-height: 1px;
	height: 11px;
	top: -10px;
	z-index: 10000;
	position: relative;
	display: none;
}

.actionBar #secure .singleColumn:hover div.pointer
{
	display: block;
}

.actionBar #secure .singleColumn .sub
{
	width: 194px;
	background: #fff;
	position: absolute;
	z-index: 9999;
	margin-top: -11px;
	margin-left: -50%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #addef1;
	-webkit-box-shadow: 0 0 10px #777;
	-moz-box-shadow: 0 0 10px #777;
	box-shadow: 0 0 10px #777;
	padding: 24px 22px 22px 10px;
	overflow: hidden;
	display: none;
}

.actionBar #secure .singleColumn:hover .sub
{
	display: block;
}

.actionBar #secure .singleColumn .sub .menu ul
{
	padding: 0;
	margin: 0;
}

.actionBar #secure .singleColumn .sub .menu ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.actionBar #secure .singleColumn .sub .menu ul li a
{
	text-shadow: none;
	font-size: 14px;
	color: #009FD9;
	display: inline;
}

.floatClear
{
	width: 0;
	height: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	display: block;
	clear: both;
	float: none;
	border: none 0;
}


/* Tabs
******************************************************************************/

#tabsContainer ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 40px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

#tabsContainer ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 39px;
	line-height: 39px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ccc;
	margin: 0 0 -1px 0;
	top: 1px;
	width: 20%;
	text-align: center;
}

#tabsContainer ul.tabs li a {
	text-decoration: none;
	color: #0083e7;
	display: block;
	font-weight: bold;
	outline: none;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
}

#tabsContainer ul.tabs li.active a 
{
	color: #666;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #fff;
	z-index: 999;
}

#tabsContainer .tabContentWrapper {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}

#tabsContainer .tabContent {
	padding: 20px;
	font-size: 1.2em;
}

/* Tabs - end
******************************************************************************/


/* Progress tracker
******************************************************************************/

#content .progressTrackerWrapper
{
	margin: 40px auto;
	width: 960px;
}

#content .progressTracker
{
	margin: 0;
	padding: 0;
}

#content .progressTracker li
{
	margin: 0;
	list-style: none;
	display: block;
	float: left;
	height: 25px;
	color: #00aff0;
	padding: 16px 12px 16px 12px;
	background: transparent url("/images/skype/v3/sprites/progressTracker.png") no-repeat scroll -5px 0;
}

#content .progressTracker li.separator
{
	padding-right: 0;
	padding-left: 0;
	width: 35px;
}

#content .progressTracker li.normal2normal
{
	background-position: -182px -114px;
}

#content .progressTracker li.active2normal
{
	background-position: -116px -114px;
}

#content .progressTracker li.normal2active
{
	background-position: -18px -114px;
}

#content .progressTracker li.first
{
	background-position: left top;
}

#content .progressTracker li.last
{
	background-position: right top;
}

#content .progressTracker li.active
{
	background-position: -5px -57px;
	color: #fff;
}

#content .progressTracker li.first-active
{
	background-position: left -57px;
}

#content .progressTracker li.last-active
{
	background-position: right -57px;
}

#content .progressTracker li a
{
	color: #00aff0;
}

#content .progressTracker li.active a
{
	color: #fff;
}

/* Progress tracker - end
******************************************************************************/
/* Tools and downloads
******************************************************************************/

.toolsContentHolder
{
	margin-top: 40px;
}

.toolsContentHolder h2.headline,
.toolsContentHolder .headline
{
	color: #666;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 42px;
	padding-top: 9px;
	display: block;
}

.toolsContentHolder h3.headline
{
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}

#content .toolsContentHolder ul
{
	padding-left: 0;
}

.toolsContentHolder li
{
	list-style: none;
}

body.page-projects_agreement .toolsContentHolder li
{
	list-style: disc;
}


.toolsContentHolder .promoHolder
{
	color: #686868;
	font-size: 14px;
	float: left;
	width: 700px;
	list-style: none;
}

.toolsContentHolder .promoHolder li
{
	margin-bottom: 10px;
	background: #fff url("/images/skype/v3/images/icons/green-tick.png") no-repeat scroll 0 5px;
	padding-left: 35px;
	padding-bottom: 5px;
}

.toolsContentHolder .ctaHolder
{
	float: right;
	width: 150px;
}

.toolsContentHolder .ctaHolder li
{
	margin-bottom: 5px;
}

.ctaHolder a.primaryCta {
	float:right;
}

.toolsContentHolder .ctaHolder .button span
{
	width: auto;
	text-align: center;
}

.toolsContentHolder .ctaHolder a.disabled, .toolsContentHolder .ctaHolder a.disabled span
{
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.toolsContentHolder .horizontalSeparatorThin
{
	margin-bottom: 20px;
	height: 1px;
	background: #eee;
	width: 100%;
}

#content .toolsContentHolder .ctaHolder .ctaHintBubble
{
	z-index: 9999;
	position: absolute;
	margin: -50px 0 0 -281px;
	padding: 0;
	width: 260px;
	background: #fff;
	color: #9c0;
	border: 3px solid #7cb91c;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	text-shadow: none;
	-moz-box-shadow: 0 0 7px #ccc;
	-webkit-box-shadow: 0 0 7px #ccc;
	-o-box-shadow: 0 0 7px #ccc;	
	box-shadow: 0 0 7px #ccc;
	cursor: default;
	display: none;
}

#content .toolsContentHolder .ctaHolder a:hover .ctaHintBubble
{
	display: block;
}

#content .toolsContentHolder .ctaHolder .ctaHintBubble span
{
	background: transparent;
	display: block;
	margin: 0;
	padding: 0;
	white-space: normal;
	cursor: default;
}

#content .toolsContentHolder .ctaHolder .ctaHintBubble .ctaHintBubblePointer
{
/*  disabling background image, generates 404 and probably not needed   */
/*	background: url("/images/skype/v3/backgrounds/ctaHintBubblePointer.png") no-repeat top left; */	
	width: 20px;
	height: 26px;
	position: absolute;
	margin-top: 20px;
	margin-left: 260px;
	/* IE 7 fix */
	*margin-left: 250px;
}

#content .toolsContentHolder .ctaHolder .ctaHintBubble .ctaHintBubbleText
{
	margin: 10px;
	width: 240px;
	text-align: left; 
}


/* Tools and downloads - end
******************************************************************************/

/* Added by Tamas H. */

/* ========= FOOTER ========= */

/* TITLE */
#bottomNavigation { background:#00ACEF !important; overflow:auto !important; margin-top:59px !important; padding: 0px !important;}
#bottomNavigation h2 { width:920px !important; margin:0 auto !important; padding:14px 0 0 !important; line-height:1em !important; font-size:1.2em !important;}
#bottomNavigation a { float:left !important; padding-bottom:14px !important; text-decoration:none !important; color:#FFF !important; background:url(/images/skype/iconFooterArrowSelected.gif) bottom center no-repeat !important; margin:0 auto !important;}

/* MENU */
#bottomSubNavigation {width:920px; margin:23px auto 0; padding-bottom:23px;}
#bottomSubNavigation dl {width:920px; padding-left:10px; min-height:110px; float:left; width:172px; border-left:solid 1px #D0D0D0; font-size:0.9em;}
#bottomSubNavigation dl:first-child {border:none; padding:0;}
#bottomSubNavigation dt {font-weight:bold; color: #666; }
#bottomSubNavigation dd {font-size:1.1em;}
#bottomSubNavigation dl a {color:#666; text-decoration:none;}
#bottomSubNavigation dl a:hover {text-decoration:underline;}

#footer{ background: #fff url(/images/skype/bgBlogFooter.gif) repeat-x top left; border-top: 1px solid #ccc;}
#footer select{ width: auto; height: 1.6em;font-size: 1em;padding: 2px 0 0 0;}
#footer form{ width: 960px; margin: 0px auto;}
#footer form ul.links{ width: 50%; float: left;}
#footer form ul.hygeineLinks{ width:auto; float: right;}
#footer form ul { margin-top: 15px;}
#footer form ul li { color: #ccc; float: left; list-style-type: none; font-size: 1em; margin-right: 7px; padding-right: 7px;}
#footer form ul li a{ color: #666; background: none;}


/* From main.css */

#sidebar {width:200px; padding: 0; float:left;}

/* ========= SIDEBAR ========= */

#sidebar h3 {font-size:1.4em; line-height:1.06em; font-weight:bold;}

/* SECURE BLOCK */
.secure ul {padding-left:80px; min-height:69px; background:url(/images/skype/iconLock.jpg) no-repeat; list-style-type:disc; margin:0 0 26px;}
.secure li,
.secure p {line-height:1.3em; font-size:1.2em;}

/* PROMOS */
#sidebar .promo {border-top:1px solid #dadada; padding:25px 0 0 10px; margin-top:25px;}
#sidebar .promo:first-child,
#sidebar .promo.first {border:none; margin-top:0;}
#sidebar .promo {background-position:right 25px !important;}
#sidebar .promo h3, #sidebar .promo p {margin-right:50px; margin-bottom:5px;}
#sidebar .promo h3 {margin:0 50px 5px 0;}
#sidebar .promo ul {margin-left:0; list-style:none;}
#sidebar .promo ul li { line-height:1.36em; margin-top:3px;}
#sidebar .promo ul li p {font-size:.9em; margin:-5px 0 12px 0; line-height: 1.4em}
#sidebar .promo .promoImage {margin:0 0 0 -5px;}
#sidebar .promo ul.highlight {margin:-25px 0 -25px -10px; padding:25px 0 25px 10px; background:#E8E8E6 url(/images/skype/bgPromoGradient.jpg) top left repeat-x;}
#sidebar .promo ul.highlight li p {margin-bottom:5px;}
#sidebar .promo li {list-style-type:none;}

#sidebar ul li {
    list-style: none outside none;
}

/* individual promos */

#sidebar .promo img.promoIcon {float: right;}
/*#sidebar .promoDevBlog {background:url(/images/skype/iconPromoDevBlog.gif) no-repeat;}*/
/*#sidebar .promoForum {background:url(/images/skype/iconPromoForum.gif) no-repeat;}*/
/*#sidebar .hardwareCertification {background:url(/images/skype/iconSkypeCertified.gif) no-repeat;}*/
#sidebar .hardwareCertification p {margin-right:60px;}
#sidebar .skypeMakersSpotlight {background:none;}
#sidebar .skypeMakersSpotlight h3 {margin-bottom:15px;}
#sidebar .skypeMakersSpotlight p {margin-right:0;}
#sidebar .skypeMakersSpotlight p.video {width:203px; height:105px; margin-bottom:18px; background:url(/images/skype/bgSpotlightVideo.gif) no-repeat;}
#sidebar .skypeConference{ background: none;}
#sidebar .skypeConference h3,
#sidebar .skypeConference p {margin-right: 15px;}

/* Branding */
#sidebar .promoBranding {background:none;}
#sidebar .promoBranding h3,
#sidebar .promoBranding p {margin-right:0;}
#sidebar .promoBranding p {margin-bottom:0;}

/* Forum */
#sidebar .promoForum h3,
#sidebar .promoForum p {margin-right:65px;}

/* OTHER USERS */
#sidebar .otherUsers h3 {font-size:1.8em; font-weight:bold;}
#sidebar .otherUsers ul {list-style:none; margin:0 0 0 -10px;}
#sidebar .otherUsers ul li {padding:12px 0 10px 10px; line-height:1em; border-bottom:solid 1px #EBEBEB;}
#sidebar .otherUsers ul li p {padding:0; margin:0; line-height:1em;}
#sidebar .otherUsers ul li a {display:block; width:13px; height:13px; float:left; margin:-1px 5px 0 0; text-indent:-10000px;}
#sidebar .otherUsers ul li a.edit {background:url(/images/skype/iconEdit.gif) no-repeat;}
#sidebar .otherUsers ul li a.delete {margin-right:7px; background:url(/images/skype/iconDelete.gif) no-repeat;}
#sidebar .otherUsers ul li p.areYouSure {margin-top:10px; font-size:0.9em;}
#sidebar .otherUsers ul li p.areYouSure a {display:inline; width:auto; height:auto; margin:0 0 0 3px; text-indent:0; float:none;}

/* PREVIOUS RELEASES */
#sidebar .previousReleases {padding:25px 0 0 10px;}
#sidebar .previousReleases dt {padding-top:16px; font-weight:bold; color:#666; margin-top:18px; background:url(/images/skype/bgDividerHorizontalColumn.gif) 0 0 no-repeat;}
#sidebar .previousReleases dt:first-child {background:none; padding-top:0;}
#sidebar .previousReleases dd {line-height:1.4em; font-size:1.2em;}
#sidebar .previousReleases dd a {font-size:1.2em;}

/* icons */
#sidebar .previousReleases dt span {display:block; padding:2px 0 0 28px;}
#sidebar .previousReleases dt.linux span {display:block; background:url(/images/skype/iconLinux.gif) no-repeat;}
#sidebar .previousReleases dt.windows span { background:url(/images/skype/iconWindows.gif) no-repeat;}
#sidebar .previousReleases dt.mac span {display:block; background:url(/images/skype/iconMac.gif) no-repeat;}


/* NAVIGATION */
#sidebar .navigation {width:231px; position:relative; left:-12px;}
#sidebar .navigation ul {list-style:none; margin:0 0 0 11px; width:220px;}
#sidebar .navigation ul li {font-size:1.2em;}

/* Nav - Sections */
#sidebar .navigation ul.primaryNav{
  border-top: 1px solid #ebebeb;
}
#sidebar .navigation ul.primaryNav li{
  min-height: 30px;
}
#sidebar .navigation ul.primaryNav a {
    color:#0181E4;
    font-size: 14px;
    font-weight:bold;
    min-height:30px;
    padding:8px 0 0 10px;
    text-decoration:none;
    display:block;
    background:#FFF url(/images/skype/bgSidebarNavLinkGrey.png) bottom no-repeat;
}
#sidebar .navigation ul.primaryNav a:hover{color: #3a9eeb;}

/* Primary Nav - selected */
#sidebar .navigation ul.primaryNav li.selected{
    background:#01AeF0;
}
#sidebar .navigation ul.primaryNav li.selected a {
    color: #FFF;
    background:url(/images/skype/bgSidebarNavArrow.png) center left no-repeat;
    position: relative;
    left: -14px;
    padding: 7px 0 1px 24px;
}
#sidebar .navigation ul.primaryNav li.selected a span{
    padding-left: 15px;
}

/* Secondary nav */
#sidebar .navigation ul.primaryNav li.selected ul.secondaryNav li {
    margin-left: -11px;
    width: 220px;
    border-top: 1px solid #4bc6f8;
    background: none;
}
#sidebar .navigation ul.primaryNav li.selected ul.secondaryNav li a{
    font-size: 12px;
    left: 0px;
    padding: 8px 0 0 40px;
}
#sidebar .navigation ul.primaryNav li.selected ul.secondaryNav li a:hover {
    background:#4bc6f8;
}

#sidebar .navigation ul.primaryNav li.selected ul.secondaryNav li.selected a {
    font-size: 12px;
    left: 0px;
    padding: 8px 0 0 40px;
    background: #4bc6f8;
}

#sidebar .navigation ul.primaryNav li.selected ul.secondaryNav li.selected a:hover {
    background-color: #4bc6f8;
}

/* Tertiary nav */
#sidebar .navigation ul.primaryNav ul.secondaryNav ul.tertiaryNav li{
    width: 220px;
}

#sidebar .navigation ul.tertiaryNav li a{
    background:#01AeF0;
    background-image: none !important;
    padding: 8px 0 0 50px !important;
}
#sidebar .navigation ul.primaryNav ul.secondaryNav ul.tertiaryNav li.selected a{
      background-color: #4bc6f8;
    padding: 8px 0 0 50px !important;
}
#sidebar .navigation ul.primaryNav ul.secondaryNav ul.tertiaryNav li.selected a:hover{
    background-color: #4bc6f8;
}

/* TABLES */
#content .dataTbl { border:1px solid; margin-bottom:4em; } /* If incl. table element, no override ?!? */
#content .dataTbl tr { border:1px solid; }
#content .dataTbl th { border:1px solid; vertical-align:middle; text-align:center; }
#content .dataTbl td { border:1px solid; vertical-align:top; text-align:left; }
#content .dataTbl td p { font-size:1em; }
#content .dataTbl td.notePara1 { font-size:1em; }
#content .dataTbl td.noteParaN { font-size:1em; }

#content .glossaryHdr { border:1px solid; }
#content .glossaryHdr tr { border:1px solid; }
#content .glossaryHdr th { border:1px solid; background-color:#669999; vertical-align:middle; text-align:center; color:#FFFFFF; width:100%; }
#content .glossaryHdr td { border:1px solid; vertical-align:top; text-align:left; }

#content .alignTblTL { border-style:none !important; margin-bottom:4em; }
#content .alignTblTL tr { border-style:none !important; }
#content .alignTblTL td { border-style:none !important; vertical-align:top; text-align:left; }

#content .alignTblMC { border-style:none !important; margin-bottom:4em; }
#content .alignTblMC tr { border-style:none !important; }
#content .alignTblMC td { border-style:none !important; vertical-align:middle; text-align:center; }

#content .topicBar { width:80%; margin-left:2em; border-top:2px solid #666666 !important; border-bottom:2px solid #666666 !important; border-left:none !important; border-right:none !important; }
#content .topicBar tr { border-style:none !important; }
#content .topicBar td { border-style:none !important; vertical-align:middle; text-align:left;}

#content table.alignTblTL tr:hover { background:none; }
#content table.alignTblMC tr:hover { background:none; }
#content table.topicBar tr:hover { background:none; }

#content table { width:98%; margin-top:15px; border-left:1px solid #DADADA; border-top:1px solid #DADADA; }
#content tr { border-bottom:1px solid #DADADA; background: #FFFFFF; }
#content th { border-right:1px solid #DADADA; padding:10px; font-size:14px; line-height:18px; text-align:left; background:#F4F4F5; color:#333333; }
#content td { border-right:1px solid #DADADA; padding:10px; line-height:normal; text-align: left; }

#content table tr:hover { background:#F4F4F5; }


/* CLASSES */
#content .alignColTL { vertical-align:top !important; text-align:left !important; }
#content .alignColTC { vertical-align:top !important; text-align:center !important; }
#content .alignColTR { vertical-align:top !important; text-align:right !important; }
#content .alignColML { vertical-align:middle !important; text-align:left !important; }
#content .alignColMC { vertical-align:middle !important; text-align:center !important; }
#content .alignColMR { vertical-align:middle !important; text-align:right !important; }

#content .noteBlock { width:75%; margin-left:1em !important; border-top:2px solid #666666 !important; border-bottom:2px solid #666666 !important; border-left:none !important; border-right:none !important; }
#content .noteBlock tr { border-style:none !important; }
#content .noteBlock td { border-style:none !important; vertical-align:top; text-align:left;}
#content .notePara1 { padding-left:2.7em !important; text-indent:-2.7em !important; }
#content .noteParaN { padding-left:2.7em !important; }

#content .lWrapTxt { float:right !important; margin-left:2em; }
#content .rWrapTxt { float:left !important; margin-right:2em; }
#content .hangingIndent6 { margin-left:6em !important; text-indent:3em !important; }
#content .paraIndent6 { margin-left:6em !important; }

#content .hrLeft { text-align:left; margin-left:0; padding-left:0; height:3px; width:640px; color:#666666 }
#content .hrRight { text-align:right; color:#666666 }
#content .hrNote { margin-left:3em; text-align:left; color:#666666 }

#content .captionTxt { font-size:smaller; font-weight:bold; font-style:italic; }

#content .padTop { padding-top:2em; }
#content .padTopXXL { padding-left:4em; }
#content .padLeft { padding-left:2em; }
#content .padLeftXXL { padding-left:4em; }
#content .padRight { padding-right:2em; }
#content .padRightXXL { padding-right:4em; }
#content .padBoth { padding-left:2em; padding-right:2em; }
#content .padBothXXL { padding-left:4em; padding-right:4em; }
#content .padBot { padding-bottom:2em; }
#content .padBotXXL { padding-bottom:4em; }

#content .highlighterYellow { background-color:#FFFF99; }
#content .highlighterBlue { background-color:#99FFFF; }
#content .highlighterPink { background-color:#FF99FF; }

#content code.skypekit { font-family: Courier New, Courier, monospace, fixed;
						 font-size:1em;
						 border: none; }

/* API STYLES */
#content .apiRef pre.codeFragment { font-family: Monaco, Consolas, monospace, fixed;
									border: 1px solid #CCCCCC; background-color: #F5F5F5; padding: 4px 6px;
									overflow:auto; }

#content .mthdNameHdr { font-size:1.5em; font-weight:bold; font-style:italic; color:#3333CC; padding-top:1.25em; }
#content .paramTbl { border:1px solid; margin-top:0; padding-top:0; margin-bottom:2em; }
#content .paramTbl tr { border:1px solid; }
#content .paramTbl th { font-size:1.3em; border:1px solid; vertical-align:middle; text-align:center; }
#content .paramTbl td { border:1px solid; vertical-align:top; text-align:left; }
#content .paramTbl td p { font-size:1em; }
#content .paramTbl td.notePara1 { font-size:1em; }
#content .paramTbl td.noteParaN { font-size:1em; }
#content .paramTbl td ul li, td ol li { font-size:1em; }

/* CODE FRAGMENT KEYWORD/TYPE COLORIZATION */
#content .apiRef span.keyword { color: #008000; }
#content .apiRef span.keywordtype { color: #663300 /* #663300 #602040 #FF0099; */ }
#content .apiRef span.usertype { color: #3333CC; }
#content .apiRef span.keywordflow { color: #E08000; }
#content .apiRef span.comment { color: #800000; }
#content .apiRef span.preprocessor { color: #806020; }
#content .apiRef span.stringliteral { color: #002080; }
#content .apiRef span.charliteral { color: #008080; }
#content .apiRef span.vhdldigit { color: #FF00FF; }
#content .apiRef span.vhdlchar { color: #000000; }
#content .apiRef span.vhdlkeyword { color: #700070; }
#content .apiRef span.vhdllogic { color: #FF0000; }

/* =========== AE.DRANE END ============ */

/* Tamas H. Fixes 31.10.2011 */
legend {
	color: #2C2C2C;
    font-size: 18px;
    letter-spacing: -0.01em;
    margin: 6px 0 0;
    padding: 4px 0 0;
}

.warning {
	margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
	padding-bottom:10px;
    width: 96%;
}
.recaptchatable {
	width: 446px !important;
}


/* Releases */
.page-releases_show .highlight-box {
    background: url("/images/componentButton-gradient.png") repeat-x scroll 0 0 #E7E7E5;
    padding: 20px 30px;
	margin-top:15px;
	border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
}

.highlight-box p {
	padding-right: 10px;
}

.page-releases_show #content .highlight-box h3 {
    background: url("/images/skypekit.png") no-repeat scroll 100% 0 transparent;
    color: #00AFF0;
    float: left;
    font-size: 1.8em;
    line-height: 1;
    margin: 0 30px 0 0;
    min-height: 48px;
    padding: 12px 135px 0 0;
}
.page-releases_show .highlight-box p {
    float: left;
    margin-top: 8px;
}
.page-releases_show .highlight-box select {
    float: left;
    margin: 0 10px 0 50px;
    width: auto;
}

.ui-tabs-hide {
    display: none;
}
.ui-selectmenu, .ui-selectmenu-menu {
    background-color: #00AFF0;
    min-width: 100px;
}
.ui-selectmenu, .ui-selectmenu-menu a {
    color: white;
}
.ui-selectmenu {
    background: url("/images/dropdown.png") no-repeat scroll 93% 50% #00AFF0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    display: block;
    font-weight: bold;
    line-height: 1.429;
    margin: 0 30px;
    overflow: hidden;
    padding-top: 4px;
    text-decoration: none;
}
.ui-selectmenu.ui-state-active {
    border-radius: 3px 3px 0 0;
}
.ui-selectmenu:hover {
    color: white;
}
.ui-selectmenu-item-focus {
    background-color: white;
}
.ui-selectmenu-item-focus a {
    color: #0181E4;
}
.ui-selectmenu-menu {
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    list-style: none outside none;
    margin: 4px 0 0;
    overflow: auto;
    padding: 0 0 2px;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.ui-selectmenu-menu li {
    border-top: 1px solid #5FCDF5;
    padding-top: 4px;
}
.ui-selectmenu-open {
    visibility: visible;
}
.ui-selectmenu-menu li a, .ui-selectmenu-status {
    display: block;
    line-height: 1.4em;
    padding: 0 10px;
    text-decoration: none;
}
span.ui-selectmenu-status {
    margin-right: 30px;
    overflow: hidden;
    padding-right: 0;
}
.ui-selectmenu-menu-icon, .ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
    display: none;
}

ul.sub-tabs {
    background: url("/images/subtabs_bg.png") repeat-x scroll 0 100% transparent;
    height: 45px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    width: 100%;
	padding-top:10px;
}
#content .sub-tabs li {
    background: url("/images/subtabs_tab_bg.png") repeat-x scroll 0 100% #F3FBFE;
    border-radius: 6px 6px 0 0;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin: 0;
    max-width: 250px;
}
.sub-tabs li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
#content .sub-tabs li.ui-state-active {
    background: url("/images/subtabs_active_left.png") no-repeat scroll 0 0 white;
    border-radius: 0 0 0 0;
}
#content .sub-tabs li.ui-state-active a {
    background: url("/images/subtabs_active_right.png") no-repeat scroll 100% 0 transparent;
    color: #666666;
    padding: 0 30px;
}


/* Message boxes
******************************************************************************/

.devMessage  {
	background: #E5F7FD;
	width: 830px;
	min-height: 60px;
	overflow: hidden;
	border: 2px solid #D1F1FC;
	margin: 30px 0 20px;
	padding: 9px 12px 8px 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}

	.devMessage.alert {
		background:	#FFE3DF;
		border-color: #E0927E;
	}

		.devMessage a.button {
		float: left;
		margin: 15px 0px 0px 30px;
		color: #FFFFFF;
	}


	.devMessage p {
		margin: 0;
		padding: 10px;
		width: 800px;
		float: left;
	}

		.devMessage p.withButton {
			width: 680px;
		}



/* Butons
******************************************************************************/

.buttonBlueDownload {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    display: inline-block;
    font: bold 14px/14px arial,helvetica,sans-serif;
    height: 32px;
    text-decoration: none;
    background-position: right -100px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0px !important;
	left: 200px;
    position: relative;
    top: -35px;
}

.buttonBlueDownload a {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 9px 5px 9px 20px;
    white-space: nowrap;
	background-position: 0 -100px;
	text-decoration:none;
	color: #FFF;
	
}
.buttonBlueDownload a:hover{
	background-position: 0 -132px;
	text-decoration: none !important;
	color: #FFFFFF !important;
}
.buttonBlueDownload a:active{
	background-position: 0 -164px;
	text-decoration: none !important;
	color: #FFFFFF !important;

}

.buttonBlue {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    display: inline-block;
    font: bold 14px/14px arial,helvetica,sans-serif;
    height: 32px;
    text-decoration: none !important;
    background-position: right -100px;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0px !important;
}

.buttonBlue a {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 9px 5px 9px 20px;
    white-space: nowrap;
	background-position: 0 -100px;
	text-decoration:none !important;
	color: #FFF !important;
	
}

.buttonBlue a:hover {
	background-position: 0 -132px;
}
.buttonBlue a:active {
	background-position: 0 -164px;
}

.buttonBlue p:hover {
	background-position: 0 -132px;
}
.buttonBlue p:active {
	background-position: 0 -164px;
}

p.buttonSmallGreen {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    display: inline-block;
    font: bold 14px/14px arial,helvetica,sans-serif;
    height: 32px;
    text-decoration: none;
    background-position: right -100px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0px !important;
	border:0 none;
	background-color: inherit;
}

p.buttonSmallGreen a {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 9px 5px 9px 20px;
    white-space: nowrap;
	background-position: 0 -100px;
	text-decoration:none;
	color: #FFF;
	
}
p.buttonSmallGreen a:hover{
	background-position: 0 -132px;
}

p.buttonSmallGreen a:active{
	background-position: 0 -164px;
}

button.buttonSmallGreen {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    display: inline-block;
    font: bold 14px/14px arial,helvetica,sans-serif;
    height: 32px;
    text-decoration: none;
    background-position: right -100px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0px !important;
	border:0 none;
	background-color: inherit;
}

button.buttonSmallGreen span {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 9px 5px 9px 20px;
    white-space: nowrap;
	background-position: 0 -100px;
	text-decoration:none;
	color: #FFF;
	
}
button.buttonSmallGreen span:hover{
	background-position: 0 -132px;
}

button.buttonSmallGreen span:active{
	background-position: 0 -164px;
}



.submitButton {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    display: inline-block;
    font: bold 14px/14px arial,helvetica,sans-serif;
    height: 32px;
    text-decoration: none !important;
    background-position: right -100px;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0px !important;
}

.submitButton a {
	background-image: url("/assets/scom/i/images/buttons/turbo/buttons.png");
    background-repeat: no-repeat;
    outline: medium none !important;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 9px 5px 9px 20px;
    white-space: nowrap;
	background-position: 0 -100px;
	text-decoration:none !important;
	color: #FFF !important;
	
}

.submitButton a:hover {
	background-position: 0 -132px;
}
.submitButton a:active {
	background-position: 0 -164px;
}



/* Form App create */
form.app-create fieldset {
    margin: 30px 0;
}
form.app-create legend {
    color: #666666;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 110%;
    padding: 0 0 20px;
}
form.app-create fieldset div {
    background-color: #F4F4F4;
    margin-bottom: 1px;
    padding: 20px;
}
form.app-create fieldset div div.other {
    padding: 5px 20px 20px 0;
}
form.app-create ul.box_radio-list, form.app-create ul.text-list {
    list-style: none outside none;
    margin: 0;
}
form.app-create label, form.app-create textarea, form.app-create select, form.app-create input {
    margin-left: 0;
}
form.app-create input[type="text"] {
    margin-bottom: 0;
}
form.app-create select {
    margin-right: 10px;
}
form.app-create label.error em {
    text-decoration: none;
}
form.app-create label em {
    font-style: normal;
    text-decoration: underline;
}
form.app-create label span {
    font-weight: normal;
}
form label.error {
    color: #E83939;
}
form .error input {
    border-color: #C2C2C2;
}
form.app-create ul.list-twocol {
    overflow: hidden;
}
form.app-create .box_radio-list li, form.app-create .text-list li {
    margin: 0 0 8px;
}
form.app-create ul.list-twocol li {
    float: left;
    width: 42.99%;
}
form.app-create ul.list-twocol li:last-child {
    clear: both;
    width: 100%;
}
form.app-create .box_radio-list label {
    display: inline-block;
    font-weight: normal;
    margin: 0;
    vertical-align: top;
	padding-top: 4px;
}
form.app-create .text-list label {
    vertical-align: top;
}
form.app-create .text-list input[type="text"] {
    font-size: 1em;
    width: 300px;
}
input label, input + label {
    font-weight: normal;
}
form.app-create textarea, form.app-create select {
    margin-bottom: 0;
}
div#recaptcha_widget {
	min-height: 140px;
}
form.signups div.twocol div {
    padding: 0;
}
label {
    color: #666666;
    display: block;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 14px 10px;
}
form.signups select, form.signups input, form.signups textarea {
    width: 300px;
}

textarea#shop_submission_screenshots_url,
textarea#shop_submission_long_description,
textarea#shop_submission_requirements,
textarea#shop_submission_features {
	width: 850px;
}

textarea#shop_submission_screenshots_url,
textarea#shop_submission_long_description {
	height: 130px;
}

#runtime-request p.alert {
	padding: 15px 15px 15px 70px;
}
#downRuntime-button {
	float:left;
	margin-top:5px;
	margin-left:0px;
}

#subscription_terms_and_conditions {
	float: left;
	margin-top: -1px;
	margin-bottom: 15px;
}
#application_token_terms_and_conditions {
	float:left;
	margin-top:1px;
	margin-bottom: 15px;
}
#download_terms_and_conditions {
	float:left;
	margin-top: 1px;
}

.termsBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    height: 278px;
    margin: 0 0 15px;
    overflow: auto;
    padding: 19px 0 19px 9px;
}

#projects {
	table-layout: fixed;	
}
#projects td {
	overflow: hidden;
}

div.bubble {
    display: none;
    margin-left: -26px;
    margin-top: -11px;
    position: absolute;
    z-index: 5;
}
div.bubble div.pointer {
    background: url("/images/skype/tooltip/default-helpbubble-info.png") no-repeat scroll left bottom transparent;
    bottom: -7px;
    font: 1px/1px monospace;
    height: 8px;
    left: 18px;
    position: absolute;
    width: 15px;
}
div.bubble div.close {
    background: url("/images/skype/tooltip/default-helpbubble-info.png") no-repeat scroll right top transparent;
    cursor: pointer;
    height: 21px;
    position: absolute;
    right: 2px;
    top: -6px;
    width: 21px;
}
div.bubble div.body {
    background: none repeat scroll 0 0 #E5F6FD;
    border: 1px solid #7FD7F7;
    border-radius: 4px 4px 4px 4px;
    font-size: 0.857em;
    line-height: 18px;
    margin: 0 8px;
    max-width: 370px;
    padding: 14px 20px;
}



#content_old {
    background: url("/images/skype/bgDividerVerticalDashboard.gif") no-repeat scroll right top transparent;
    margin-top: 0;
    min-height: 730px;
    padding: 0;
    width: 700px;
	float:left;
	padding-right: 15px;
}

#dashboard .introBox {
    background: url("/images/skype/bgIntroBoxGradient.jpg") repeat-x scroll left bottom transparent;
    border: 1px solid #E0F5FD;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding-bottom: 30px;
	padding-left: 10px;
    position: relative;
    width: 668px;
    z-index: 1;
	min-height: 260px;
}

#dashboard .introBox img {
    float: right;
    margin-top: -15px;
}

#dashboard ul#dashboardFeatures {
    margin: 0;
}

#dashboard ul#dashboardFeatures li.first {
    background: none repeat scroll 0 0 transparent;
    margin-left: 0;
}

#dashboard ul#dashboardFeatures li {
    background: url("/images/skype/bgDividerVerticalDashboardPromo.gif") repeat-y scroll left top transparent;
    float: left;
    list-style: none outside none;
    margin-left: 9px;
    min-height: 380px;
    padding-left: 10px;
    width: 325px;
}
#wrapper {
    margin: 0 auto;
    width: 920px;
	min-height: 900px;
	padding-top: 30px;
}

#wrapperSilk {
    margin: 0 auto;
    width: 920px;
	min-height: 1750px;
	padding-top: 30px;
}

.featureArea {
    background: url("/images/skype/bgDividerHorizontalShort.gif") no-repeat scroll left bottom transparent;
    clear: both;
    float: left;
    padding-bottom: 40px !important;
    width: 100%;
}
.featureArea img {
    float: left;
    margin: 0 50px 35px 0;
}

ul#skypekitPromos {
    clear: both;
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
ul#skypekitPromos li.first {
    background: none repeat scroll 0 0 transparent;
    margin-left: 0;
}
ul#skypekitPromos li {
    background: url("/images/skype/bgDividerVerticalDashboardPromo.gif") no-repeat scroll left top transparent;
    float: left;
    list-style: none outside none;
    margin-left: 9px;
    padding-left: 10px;
    width: 200px;
}

ul#skypekitPromos li .intro h2 {
    color: #00AEEF;
    font-size: 18px;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 8px;
	line-height: 1.3em !important;
}

ul#skypekitPromos h2#skypekitUx {
    background: url("/images/skype/iconUxGuide.gif") no-repeat scroll 0 0 #FFFFFF;
}
ul#skypekitPromos h2#skypekitDev {
    background: url("/images/skype/iconDevGuide.gif") no-repeat scroll 0 0 #FFFFFF;
}
ul#skypekitPromos h2#skypekitForum {
    background: url("/images/skype/iconForum.gif") no-repeat scroll 0 0 #FFFFFF;
    padding-left: 48px;
}

div#bottomNavigation {
	display: inline-block;
	width: 100%;
}



/*#content_old table {
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    margin-top: 15px;
    width: 98%;
}

#content_old tr {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DADADA;
}

#content_old td {
    border-right: 1px solid #DADADA;
    line-height: normal;
    padding: 10px;
    text-align: left;
}

#content_old .noteBlock {
    border-color: #666666 -moz-use-text-color !important;
    border-style: solid none !important;
    border-width: 2px medium !important;
    margin-left: 1em !important;
    width: 75%;
}
#content_old .noteBlock tr {
    border-style: none !important;
}

#content_old .noteBlock td {
    border-style: none !important;
    text-align: left;
    vertical-align: top;
}

#content_old .notePara1 {
    padding-left: 2.7em !important;
    text-indent: -2.7em !important;
}

#content_old .alignTblTL {
    border-style: none !important;
    margin-bottom: 4em;
}
#content_old .alignTblTL tr {
    border-style: none !important;
}
#content_old .alignTblTL td {
    border-style: none !important;
    text-align: left;
    vertical-align: top;
}

#content_old .hrLeft {
    color: #666666;
    height: 3px;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    width: 640px;
}*/

pre {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: #EFF0F0 !important;
    background-image: none !important;
    background-origin: padding-box !important;
    border-bottom: 1px solid #CCCCCC !important;
    border-top: 1px solid #CCCCCC !important;
    border-width: 1px 0 !important;
    display: block !important;
    font-family: 'Courier New',Courier,monospace !important;
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: normal !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
    outline: 0 none black !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left !important;
    white-space: pre-wrap !important;	
}

#navigation {
    margin: 0 auto;
    width: 960px;
}

ul.tabs {
    background: url("/images/skype/bgDividerHorizontalWide.gif") no-repeat scroll center bottom transparent;
    list-style: none outside none;
    margin-left: 5px;
    overflow: hidden;
    padding: 26px 15px 12px;
    width: 940px;
}

ul.tabs li {
    float: left;
    font-size: 1.3em;
    margin-right: 49px;
}

ul.tabs li a {
    color: #B1B5B6;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

ul.tabs li.active a, ul.tabs li a:hover {
    background: url("/images/skype/iconArrowUpSelected.gif") no-repeat scroll center bottom transparent;
    color: #01AEF0;
    padding-bottom: 15px;
}

.active {
    color: #00AA00;
}

.application label {
	clear: both;
	color: #3a3a3a;
	font-weight: bold;
	margin: 0 0 5px;
}

.application {
	background: none repeat scroll 0 0 #F4F4F4;
    height: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 20px 30px;
}

.application input, .application textarea {
	border: 1px solid #D8D8D8;
    font-family: Arial,sans-serif;
    font-size: 16px;
    margin: 0 10px 5px 0;
    padding: 4px;
    vertical-align: middle;
    width: 290px;
}
.application input[type="checkbox"],
.application input[type="radio"]{
	width: auto;
}

#trigger {
	margin-top: 15px;
}


/* =========== AE.DRANE BEGIN ============ */
/* UNIVERSAL STYLES */
#content_old h2 { font-size:2em; font-weight:bold; line-height:1.3em; margin-top:0px; margin-bottom:20px; margin-left:0px; margin-right:0px; color:#01AEF0; }
#content_old h3 { font-size:1.5em; font-weight:bold; margin-bottom:0.125em; }
#content_old h4 { font-size:1.4em; font-weight:bold; font-style:italic; }
#content_old h5 { font-size:1.2em; font-weight:bold; }
#content_old h3, h4, td, p, li {color:#666666}

#content_old table { width:98%; margin-top:15px; border-left:1px solid #DADADA; border-top:1px solid #DADADA; }
#content_old tr { border-bottom:1px solid #DADADA; background: #FFFFFF; }
#content_old th { border-right:1px solid #DADADA; padding:10px; font-size:14px; line-height:18px; text-align:left; background:#F4F4F5; color:#333333; }
#content_old td { border-right:1px solid #DADADA; padding:10px; line-height:normal; text-align: left; }

#content_old table tr:hover { background:#F4F4F5; }


/* LISTS */
#content_old .uxGuidelines li, .brandingGuidelines ol li a { font-size:14px !important; }
#content_old .uxGuidelines li a, .brandingGuidelines ol li a { font-size:14px !important; }
#content_old .uxGuidelines td li, .brandingGuidelines ol li a { font-size:12px !important; }
#content_old .uxGuidelines td li a, .brandingGuidelines ul li a { font-size:12px !important; }

#content_old .uxGuidelines ol, .brandingGuidelines ol { margin-left:2em; margin-bottom:1.3em; padding:0; }
#content_old .uxGuidelines ol li, .brandingGuidelines ol li { list-style-type:decimal; }
#content_old .uxGuidelines ol ol li, .brandingGuidelines ol ol li { list-style-type:lower-latin; }
#content_old .uxGuidelines ol ol ol li, .brandingGuidelines ol ol ol li { list-style-type:lower-roman; }

#content_old .uxGuidelines ul, .brandingGuidelines ul { margin-left:2em; margin-bottom:1.3em; padding:0; }
#content_old .uxGuidelines ul li, .brandingGuidelines ul li { list-style-type:disc; }
#content_old .uxGuidelines ul ul li, .brandingGuidelines ul ul li { list-style-type:circle; }
#content_old .uxGuidelines ul ul ul li, .brandingGuidelines ul ul ul li { list-style-type:square; }

#content_old .uxGuidelines ol ul li, .brandingGuidelines ol ul li { list-style-type:disc;}
#content_old .uxGuidelines ol ul ol li, .brandingGuidelines ol ul ol li { list-style-type:decimal; }
#content_old .uxGuidelines ol ol ul li, .brandingGuidelines ol ol ul li { list-style-type:disc; }
#content_old .uxGuidelines ol ul ul li, .brandingGuidelines ol ul ul li { list-style-type:circle; }

#content_old .uxGuidelines ul ol li, .brandingGuidelines ul ol li { list-style-type:decimal; }
#content_old .uxGuidelines ul ul ol li, .brandingGuidelines ul ul ol li { list-style-type:decimal; }
#content_old .uxGuidelines ul ol ul li, .brandingGuidelines ul ol ul li { list-style-type:disc; }
#content_old .uxGuidelines ul ol ol li, .brandingGuidelines ul ol ol li { list-style-type:lower-latin; }


/* TABLES */
#content_old .dataTbl { border:1px solid; margin-bottom:4em; } /* If incl. table element, no override ?!? */
#content_old .dataTbl tr { border:1px solid; }
#content_old .dataTbl th { border:1px solid; vertical-align:middle; text-align:center; font-weight: bold;}
#content_old .dataTbl td { border:1px solid; vertical-align:top; text-align:left; }
#content_old .dataTbl td p { font-size:1em; }
#content_old .dataTbl td.notePara1 { font-size:1em; }
#content_old .dataTbl td.noteParaN { font-size:1em; }

#content_old .glossaryHdr { border:1px solid; }
#content_old .glossaryHdr tr { border:1px solid; }
#content_old .glossaryHdr th { border:1px solid; background-color:#669999; vertical-align:middle; text-align:center; color:#FFFFFF; width:100%; font-weight:bold; }
#content_old .glossaryHdr td { border:1px solid; vertical-align:top; text-align:left; }

#content_old .alignTblTL { border-style:none !important; margin-bottom:4em; }
#content_old .alignTblTL tr { border-style:none !important; }
#content_old .alignTblTL td { border-style:none !important; vertical-align:top; text-align:left; }

#content_old .alignTblMC { border-style:none !important; margin-bottom:4em; }
#content_old .alignTblMC tr { border-style:none !important; }
#content_old .alignTblMC td { border-style:none !important; vertical-align:middle; text-align:center; }

#content_old .topicBar { width:80%; margin-left:2em; border-top:2px solid #666666 !important; border-bottom:2px solid #666666 !important; border-left:none !important; border-right:none !important; }
#content_old .topicBar tr { border-style:none !important; }
#content_old .topicBar td { border-style:none !important; vertical-align:middle; text-align:left;}

#content_old table.alignTblTL tr:hover { background:none; }
#content_old table.alignTblMC tr:hover { background:none; }
#content_old table.topicBar tr:hover { background:none; }

/* CLASSES */
#content_old .alignColTL { vertical-align:top !important; text-align:left !important; }
#content_old .alignColTC { vertical-align:top !important; text-align:center !important; }
#content_old .alignColTR { vertical-align:top !important; text-align:right !important; }
#content_old .alignColML { vertical-align:middle !important; text-align:left !important; }
#content_old .alignColMC { vertical-align:middle !important; text-align:center !important; }
#content_old .alignColMR { vertical-align:middle !important; text-align:right !important; }

#content_old .noteBlock { width:75%; margin-left:1em !important; border-top:2px solid #666666 !important; border-bottom:2px solid #666666 !important; border-left:none !important; border-right:none !important; }
#content_old .noteBlock tr { border-style:none !important; }
#content_old .noteBlock td { border-style:none !important; vertical-align:top; text-align:left;}
#content_old .notePara1 { padding-left:2.7em !important; text-indent:-2.7em !important; }
#content_old .noteParaN { padding-left:2.7em !important; }

#content_old .lWrapTxt { float:right !important; margin-left:2em; }
#content_old .rWrapTxt { float:left !important; margin-right:2em; }
#content_old .hangingIndent6 { margin-left:6em !important; text-indent:3em !important; }
#content_old .paraIndent6 { margin-left:6em !important; }

#content_old .hrLeft { text-align:left; margin-left:0; padding-left:0; height:0px; width:640px; color:#666666; border: 1px solid #666;}
#content_old .hrRight { text-align:right; color:#666666 }
#content_old .hrNote { margin-left:3em; text-align:left; color:#666666 }

#content_old .captionTxt { font-size:smaller; font-weight:bold; font-style:italic; }

#content_old .padTop { padding-top:2em; }
#content_old .padTopXXL { padding-left:4em; }
#content_old .padLeft { padding-left:2em; }
#content_old .padLeftXXL { padding-left:4em; }
#content_old .padRight { padding-right:2em; }
#content_old .padRightXXL { padding-right:4em; }
#content_old .padBoth { padding-left:2em; padding-right:2em; }
#content_old .padBothXXL { padding-left:4em; padding-right:4em; }
#content_old .padBot { padding-bottom:2em; }
#content_old .padBotXXL { padding-bottom:4em; }

#content_old .highlighterYellow { background-color:#FFFF99; }
#content_old .highlighterBlue { background-color:#99FFFF; }
#content_old .highlighterPink { background-color:#FF99FF; }

#content_old code.skypekit { font-family: Courier New, Courier, monospace, fixed;
						 font-size:1em;
						 border: none; }

/* API STYLES */
#content_old .apiRef pre.codeFragment { font-family: Monaco, Consolas, monospace, fixed;
									border: 1px solid #CCCCCC; background-color: #F5F5F5; padding: 4px 6px;
									overflow:auto; }

#content_old .mthdNameHdr { font-size:1.5em; font-weight:bold; font-style:italic; color:#3333CC; padding-top:1.25em; }
#content_old .paramTbl { border:1px solid; margin-top:0; padding-top:0; margin-bottom:2em; }
#content_old .paramTbl tr { border:1px solid; }
#content_old .paramTbl th { font-size:1.1em; border:1px solid; vertical-align:middle; text-align:center; font-weight:bold;}
#content_old .paramTbl td { border:1px solid; vertical-align:top; text-align:left; }
#content_old .paramTbl td p { font-size:1em; }
#content_old .paramTbl td.notePara1 { font-size:1em; }
#content_old .paramTbl td.noteParaN { font-size:1em; }
#content_old .paramTbl td ul li, td ol li { font-size:1em; }

/* CODE FRAGMENT KEYWORD/TYPE COLORIZATION */
#content_old .apiRef span.keyword { color: #008000; }
#content_old .apiRef span.keywordtype { color: #663300 /* #663300 #602040 #FF0099; */ }
#content_old .apiRef span.usertype { color: #3333CC; }
#content_old .apiRef span.keywordflow { color: #E08000; }
#content_old .apiRef span.comment { color: #800000; }
#content_old .apiRef span.preprocessor { color: #806020; }
#content_old .apiRef span.stringliteral { color: #002080; }
#content_old .apiRef span.charliteral { color: #008080; }
#content_old .apiRef span.vhdldigit { color: #FF00FF; }
#content_old .apiRef span.vhdlchar { color: #000000; }
#content_old .apiRef span.vhdlkeyword { color: #700070; }
#content_old .apiRef span.vhdllogic { color: #FF0000; }

b { font-weight: bold !important; }
i { font-style: italic !important; }

/* =========== AE.DRANE END ============ */
#content_old .borderImage {
	padding: 10px;
}

/* Search page */
.searchQuery h2 {
	float: left;
	padding-right: 5px;
}
.searchQuery p {
	padding-right: 32px;
	padding-top: 20px;
}
#content_old #searchAgain {
	display: inline;
	margin-left: 1px;
}
.searchResultsList dt {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 5px;
}

.searchResultsList dd {
	padding-bottom: 30px;
}



div.rss-updates a.rss {
  float: left;
  text-decoration: none;
  padding-right: 32px;
  background: url(/images/m/rss.png) no-repeat center top;
  background-size: 16px 16px;
  background-position: 54px 1px;
}



/* Tabs
******************************************************************************/

#newTabs ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 40px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

#newTabs ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 39px;
	line-height: 39px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ccc;
	margin: 0 0 -1px 0;
	top: 1px;
	width: 20%;
	text-align: center;
}

#newTabs ul.tabs li a {
	text-decoration: none;
	color: #0083e7;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	outline: none;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
}

#newTabs ul.tabs li.active a 
{
	color: #666;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #fff;
	z-index: 999;
}

#newTabs .tabContentWrapper {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}

#newTabs .tabContent {
	padding: 20px;
	font-size: 1.2em;
}

/* Tabs - end
******************************************************************************/

/* App directory
******************************************************************************/

.formField
{
	display: block;
	margin-bottom: 2em;
}

.fieldLabel
{
	font-weight: bold;
}

.fieldInfo
{
	display: block;
/*	margin-left: 2em;
*/
}

.fieldInput,
.smallFieldInput,
.fluidFieldInput
{
	border: 1px solid #999;
	font: inherit;
	width: 20em;
	padding: 0.2em;
	display: block;
}

.smallFieldInput
{
	width: 6em;
}

.fluidFieldInput
{
	width: 100%;
}

.inlineFieldInput
{
	display: inline;
}

.calendarFieldIcon
{
	background: url("/images/m/calendar_view_month.png") no-repeat;
	width: 24px;
	height: 24px;
	display: block;
	margin-left: 0.2em;
}

.normalText
{
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

div #errorExplanation {
    background: none no-repeat scroll 12px 14px #FFE3DF;
    border: 1px solid #F08A73;
    border-radius: 4px 4px 4px 4px;
    color: #3A3A3A;
    font-size: 12px;
    margin: 0 8px;
    overflow: hidden;
    padding-left: 38px;
}

/* App directory - end
******************************************************************************/

