#flash {
  position: fixed;
	top: 0px;
  left: 0;
  width: 100%;
  padding: 4px;
  z-index: 9999;
  text-align: center;
  font-size: 18px;
  opacity: 0.90;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}

#flash div {
  width: 60%;
  margin: 0 auto;
  color: #ffffff;
  background-color: #333333;
  padding: 4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
